body {
  width: 70vh;

  .window {
    position: relative;

    height: 70vh * 0.75;
  }
  #top_screen {
    background-color: green;
    #textbox {
      position: absolute;
      bottom: 0%;
      width: 100%;
      height: 100%;
      #name {
        background-color: green;
        position: absolute;
        width: 14%;
        height: 4%;
        bottom: 36%;
        left: 1.5%;
        margin: 0%;
        text-align: center;
      }
      #dialog {
        width: 96%;
        height: 32%;
        background-color: red;
        position: absolute;
        bottom: 2%;
        left: 2%;
        margin: 0%;
      }
    }
    #characterbox {
      top: 0%;
      left: 0%;
      width: 100%;
      #bg {
        position: absolute;
        width: 100%;
      }
      #character {
        position: absolute;
        width: 100%;
      }
    }

    #dialogbox {
      width: 100%;
      height: 100%;

      #window_name {
        position: absolute;
        width: 15%;
        bottom: 36%;
        left: 1%;
      }
      #window_message {
        width: 100%;
        position: absolute;
        bottom: 0px;
      }
    }
    #soundeffect {
      top: 1%;
      left: 1%;
      position: absolute;
      width: 5%;
      #logo_sound {
        position: absolute;
        width: 100%;
      }
    }
  }
  #bottom_screen {
    height: 70vh * 0.75;
    #bg_bottom {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
    }

    #intraction_space {
      position: relative;

      width: 100%;
      height: 100%;
      .choise-box {
        position: absolute;
        border: 2px solid black;
        height: 60%;
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
      .navig {
        position: absolute;
        display: flex;
        width: 80%;
        height: 20%;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        .btn-navigation {
          position: relative;
          height: 100%;
          width: 50%;

          #next_button,
          #prev_button {
            width: 100%;
          }
          #arrow {
            position: absolute;
            height: 50%;
            width: 30%;
            right: 1%;
            top: 50%;
            transform: translateY(-50%);
          }
          img {
            width: 100%;
            height: 100%;

            position: absolute;
          }
        }

        #prevbox {
          #arrow {
            position: absolute;
            transform: rotate(180deg) translateY(50%);
            left: 1%;
            top: 50%;
          }
        }
      }
    }

    #nextbox {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
    }
  }

  //   #top_screen {
  //     position: relative;
  //     width: 100%;

  //     #textbox {
  //       bottom: 0%;
  //       height: 50%;
  //     }
  //     #characterbox {
  //       position: relative;
  //       top: 0%;
  //       left: 0%;
  //       width: 100%;
  //       #bg {
  //         position: absolute;
  //         width: 100%;
  //       }
  //       #character {
  //         position: absolute;
  //         width: 100%;
  //       }
  //     }
  //     #dialogbox {
  //       position: relative;
  //       width: 100%;
  //       height: 100%;

  //       #window_name {
  //         position: absolute;
  //       }
  //       #window_message {
  //         position: absolute;
  //         bottom: 0px;
  //       }
  //     }
  //     #soundeffect {
  //       position: absolute;
  //       width: 5%;
  //       #logo_sound {
  //         position: relative;
  //         width: 100%;
  //       }
  //     }
  //   }
  //   #bottom_screen {
  //     position: relative;
  //   }
}
