body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, rgb(3, 52, 65), rgb(5, 73, 90));
}
body .game {
  position: absolute;
  width: 60vh;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
}
body .window {
  position: relative;
  width: 100%;
  aspect-ratio: 256/192;
}
body #top_screen #textbox {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
}
body #top_screen #textbox #name {
  position: absolute;
  width: 14%;
  height: 4%;
  bottom: 36%;
  left: 1.5%;
  margin: 0%;
  text-align: center;
}
body #top_screen #textbox #dialog {
  width: 96%;
  height: 32%;
  position: absolute;
  bottom: 2%;
  left: 2%;
  margin: 0%;
}
body #top_screen #characterbox {
  top: 0%;
  left: 0%;
  width: 100%;
}
body #top_screen #characterbox #bg {
  position: absolute;
  width: 100%;
}
body #top_screen #characterbox #character {
  position: absolute;
  width: 100%;
}
body #top_screen #dialogbox {
  width: 100%;
  height: 100%;
}
body #top_screen #dialogbox #window_name {
  display: inline-block;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 36%;
  left: 1%;
  background-image: url("../img/ui/name_box.png");
  background-size: 100% 100%;
}
body #top_screen #dialogbox #window_name.d-none {
  display: none;
}
body #top_screen #dialogbox #window_name #name {
  margin: 2px;
  width: 100%;
  text-align: center;
}
body #top_screen #dialogbox #window_message {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
body #top_screen #soundeffect {
  top: 1%;
  left: 1%;
  position: absolute;
  width: 5%;
}
body #top_screen #soundeffect #logo_sound {
  position: absolute;
  width: 100%;
}
body #bottom_screen #bg_bottom {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
body #bottom_screen #interaction_space {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 80%;
  transform: translateY(-50%);
}
body #bottom_screen #interaction_space .choice-box {
  border: 2px solid black;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.419);
  height: 60%;
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 50% 50%;
}
body #bottom_screen #interaction_space .choice-box.start {
  grid-template-columns: 100%;
}
body #bottom_screen #interaction_space .choice-box.d-none {
  display: none;
}
body #bottom_screen #interaction_space .choice-box .choice {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("../img/ui/default_choice_button.png");
  background-size: 100% 100%;
  justify-self: center; /* Pour la centrage horizontal */
  align-self: center; /* Pour la centrage vertical */
}
body #bottom_screen #interaction_space .choice-box .choice.nav {
  background-image: url("../img/ui/default_fuir_button.png");
}
body #bottom_screen #interaction_space .choice-box .choice.nav:active {
  background-image: url("../img/ui/pressed_fuir_button.png");
  width: 98%;
  height: 98%;
}
body #bottom_screen #interaction_space .choice-box .choice p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0;
  user-select: none;
}
body #bottom_screen #interaction_space .choice-box .choice:active {
  background-image: url("../img/ui/pressed_choice_button.png");
  width: 98%;
  height: 98%;
}
body #bottom_screen #interaction_space .navig {
  position: absolute;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  width: 80%;
  height: 20%;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
body #bottom_screen #interaction_space .navig.d-none {
  display: none;
}
body #bottom_screen #interaction_space .navig .btn-navigation {
  position: relative;
  height: 100%;
  width: 50%;
}
body #bottom_screen #interaction_space .navig .btn-navigation #next_button,
body #bottom_screen #interaction_space .navig .btn-navigation #prev_button {
  width: 100%;
}
body #bottom_screen #interaction_space .navig .btn-navigation p {
  position: absolute;
  margin: 0;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
body #bottom_screen #interaction_space .navig .btn-navigation .arrow {
  position: absolute;
  height: 50%;
  width: 30%;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}
body #bottom_screen #interaction_space .navig .btn-navigation img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
}
body #bottom_screen #interaction_space .navig #prevbox p {
  position: absolute;
  margin: 0;
  right: 10px;
}
body #bottom_screen #interaction_space .navig #prevbox .arrow {
  position: absolute;
  transform: rotate(180deg) translateY(50%);
  left: 1%;
  top: 50%;
}
body #bottom_screen #interaction_space .navig #prevbox img {
  transform: scaleX(-1);
}
body #bottom_screen #nextbox {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
body #bottom_screen #nextbox p {
  position: absolute;
  margin: 0;
  left: 10px;
}
body #bottom_screen .footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  color: black;
}
body #bottom_screen .footer.d-none {
  display: none;
}
body #bottom_screen .footer p {
  color: black;
  size: 12;
}
body #bottom_screen .footer a img {
  height: 35px;
}
body .d-none {
  display: none;
}

p {
  color: white;
  font-family: "Igiari";
}

/* Text color CSS */
.red {
  color: #e16935;
}

.blue {
  color: #4291c9;
}

.green {
  color: #00b050;
}

.alert {
  animation: flashBrightness 0.5s;
}

.shake {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.desable {
  pointer-events: none;
  filter: grayscale(100%);
}

@keyframes flashBrightness {
  0% {
    filter: brightness(5);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}
a {
  color: #4291c9;
}

img {
  position: absolute;
  user-select: none;
  /* ignore select move image on page */
  -webkit-user-drag: none;
  /* ignore drag image on page */
  -webkit-touch-callout: none;
  /* ignore callout image on page */
  -webkit-user-select: none;
  /* ignore select image on page */
  -moz-user-select: none;
  /* ignore select image on page */
  -ms-user-select: none;
  /* ignore select image on page */
}

/*# sourceMappingURL=styles2.css.map */
